@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  font-family: 'Instrument Sans', sans-serif;
}

@media (min-width: 1920px) {
  .ml-3xl--80 {
    margin-left: -90rem; /* Equivalent to Tailwind's -ml-80 */
  }
}

@media (min-width: 1280px) and (max-width: 1435px) {
  .ml-only-1280 {
    margin-left: 8rem; /* ml-40 */
  }
}

@media (min-width: 1800px) and (max-width: 1920px) {
  .ml-1800-1920 {
    margin-left: -24rem; /* example: ml-24 (adjust as needed) */
  }
}

@media (min-width: 1200px) and (max-width: 1250px) {
  .ml-only-1200 {
    margin-left: 12rem; /* ml-40 */
  }
}


@media (min-width: 1600px) and (max-width: 1700px) {
  .ml-1600-1700 {
    margin-left: -13rem !important;
  }
}

@media (min-width: 1800px) and (max-width: 1920px) {
  .ml-1800-1920 {
    margin-left: -16rem !important;
  }
}

@media (min-width: 1800px) and (max-width: 1920px) {
  .px-1800-1920 {
    padding-left: -12rem;     /* corrected: no negative padding */
    padding-right: 6.5rem;
   
  }
}

@media (min-width: 1800px) and (max-width: 1920px) {
  .ml-1800-1920-service {
    margin-left: -4rem; /* example: ml-24 (adjust as needed) */
  }
}

@media (min-width: 1800px) and (max-width: 1920px) {
  .ml-1800-1920-about {
    margin-left: -30rem !important;
  }
}

@media (min-width: 1800px) and (max-width: 1920px) {
  .translate-y-3xl {
    transform: translateY(3.5rem) !important; /* Shift down by 6rem (96px) */
  }
}

@media (min-width: 1500px) and (max-width: 1700px) {
  .translate-y-3xl-1 {
    transform: translateY(2.8rem) !important; /* Shift down by 6rem (96px) */
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .translate-y-3xl-2 {
    transform: translateY(0.8rem) !important; /* Shift down by 6rem (96px) */
  }
}



